* {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 237, 237);
    color: rgb(72, 72, 72);
}

body {
    padding: 3em;
}

button {
    text-align: center;
    border: none;
    padding: 0.5em;
    background-color: rgb(244, 132, 132);
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: rgb(250, 137, 137);
    box-shadow: 5px 5px 20px 10px #fff; 
}

.heading {
    text-align: center;
    padding: 1em;
}

.container {
    width: 50%;
    border: 0.15em rgb(244, 132, 132) solid;
    padding: 0.7em;
    margin: auto;
    margin-bottom: 2.5em;
    border-radius: 0.5em;
}

.button-container {
    text-align: center;
}
